---
// AboutUs.astro
import { Image } from 'astro:assets';

const teamMembers = [
  { name: 'Dr. Ana García', role: 'Principal', image: '/user.jpeg?height=300&width=300' },
  { name: 'Prof. Carlos Rodríguez', role: 'Vice Principal', image: '/user.jpeg?height=300&width=300' },
  { name: 'Lic. María López', role: 'Head of Academics', image: '/user.jpeg?height=300&width=300' },
  { name: 'Ing. José Martínez', role: 'Head of Administration', image: '/user.jpeg?height=300&width=300' },
];
---

<div class="bg-gray-0 min-h-screen">
  <header class="text-primary py-12">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-bold">Sobre Nosotros</h1>
      <p class="mt-2 text-xl">Formando líderes del mañana con valores de hoy.</p>
    </div>
  </header>

  <main class="container mx-auto px-4 py-12">
    <section class="mb-8">
      <h2 class="text-3xl font-semibold mb-6">Nuestra Historia</h2>
      <div class="flex flex-col md:flex-row gap-8 items-center">
        <div class="md:w-1/2">
          <p class="text-gray-700 mb-4">
            La Unidad Educativa Alessandro Volta, inicia sus  labores en  la Escuela  Héroes de Paquisha el  año  1983, con 89  estudiantes,  y como Colegio Particular sin  Nombre, mediante Acuerdo  Ministerial 1734 del 25 de Octubre  de 1983. El  año  siguiente  se  consigue el  Acuerdo  Ministerial   Nro. 3879 del 01 de  Junio  de 1984  emanado  por el Ministerio de Educación y Cultura  con  el nombre de Colegio Nacional  Santa  Martha. Para  1988,  el  MEC  autoriza  el funcionamiento definitivo  de la especialidad de Electricidad.  El 10 de diciembre de  1991 mediante Acuerdo Ministerial Nro. 099 se  cambia  la  Razón  Social de Colegio Nacional Santa Martha     por  Alessandro  Volta.  
          </p>

          <p class="text-gray-700">
            Para  el  año  1993  se  gestiona  e incrementa a la Especialidad  de Electrónica.  En  1996  el Colegio  alcanza  el reconocimiento  de  Técnico  Industrial.  Y  para  el  2005  incrementa  su  tercera  especialidad  Electromecánica Automotriz.
            En el año 2013 ante la nueva distribución pasa a denominarse Unidad Educativa Alessandro Volta, perteneciente a la Zona 4, Distrito 1.
          </p>
          <br>
          <p class="text-gray-700">
            A lo largo de los años, hemos evolucionado constantemente, adaptándonos a las necesidades cambiantes de la educación moderna mientras mantenemos nuestro compromiso con la excelencia académica y el desarrollo integral de nuestros estudiantes.
          </p>

        </div>
        <div class="md:w-1/2">
          <Image
            src="/volta.jpeg?height=400&width=600"
            alt="Imagen histórica de nuestra institución"
            width={600}
            height={400}
            class="rounded-lg shadow-md"
          />
        </div>
      </div>
    </section>

    <section class="mb-16">
      <h2 class="text-3xl font-semibold mb-6">Nuestra Misión</h2>
      <p class="text-gray-700 mb-4">
        Nuestra misión como institución es formar bachilleres emprendedores, indagadores, íntegros y solidarios, comprometidos con el desarrollo social y el bienestar de su comunidad. Buscamos que nuestros estudiantes adquieran una formación integral que no solo incluya conocimientos académicos y técnicos, sino también valores éticos y habilidades sociales que les permitan actuar con responsabilidad y compromiso en un mundo cada vez más complejo.
        A través de una educación de calidad, alineada con estándares nacionales e internacionales, fomentamos en nuestros jóvenes el pensamiento crítico, la creatividad y la capacidad para tomar decisiones informadas. Queremos que nuestros egresados sean capaces de enfrentar los retos del mundo actual y contribuir al progreso de la sociedad de manera equitativa y sostenible.
      </p>
      <p class="text-gray-700">
        Nuestra labor educativa se enfoca en preparar a los estudiantes para que, además de ser competentes en su área de formación, sean líderes responsables, comprometidos con la justicia social y el desarrollo de un futuro más inclusivo para todos.
      </p>
    </section>

    <section class="mb-16">
      <h2 class="text-3xl font-semibold mb-6">Nuestra Visión</h2>
      <p class="text-gray-700 mb-4">
        Nuestra visión es ser una institución educativa dinámica y visionaria, abierta a los avances científicos, tecnológicos y pedagógicos, que responda de manera efectiva a los desafíos y necesidades del mundo globalizado. Nos proponemos formar bachilleres competitivos, emprendedores, proactivos y equilibrados, preparados para enfrentar los retos de un entorno en constante cambio, con una mentalidad abierta, reflexiva y crítica.
      </p>
      <p class="text-gray-700 mb-4">
        A través de un enfoque educativo innovador y centrado en el desarrollo integral del estudiante, buscamos no solo brindar conocimientos actualizados y habilidades técnicas, sino también fomentar valores como la ética, la colaboración y el respeto por la diversidad. Nuestro objetivo es que nuestros egresados se destaquen tanto a nivel nacional como internacional, cumpliendo con los más altos estándares de calidad y siendo capaces de adaptarse con éxito a un mundo interconectado y lleno de oportunidades.
      </p>
    </section>

    <section class="mb-16">
      <h2 class="text-3xl font-semibold mb-6">Nuestros Valores</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        {[ 
          { titulo: 'Excelencia', descripcion: 'Nos esforzamos por brindar una educación de alta calidad, impulsada por un compromiso constante con la mejora continua. Nuestra meta es garantizar que cada estudiante alcance su máximo potencial académico y personal, preparándolos para enfrentar los retos del futuro con éxito.' },
          { titulo: 'Integridad', descripcion: 'Fomentamos un entorno de honestidad, respeto y ética, donde cada miembro de nuestra comunidad actúa con responsabilidad y coherencia. Creemos que la integridad es fundamental para formar individuos que contribuyan de manera positiva a la sociedad.' },
          { titulo: 'Innovación', descripcion: 'Impulsamos la creatividad y la búsqueda constante de nuevas ideas y soluciones. A través de la integración de las últimas tecnologías y enfoques pedagógicos, preparamos a nuestros estudiantes para ser líderes en un mundo en constante cambio.' },
          { titulo: 'Inclusión', descripcion: 'Valoramos la diversidad y promovemos un ambiente inclusivo donde todos los estudiantes, independientemente de su origen, género o capacidades, tengan las mismas oportunidades para aprender y crecer. Creemos en la fuerza de una comunidad unida y diversa, que enriquece la experiencia educativa de todos.' }
        ].map(({ titulo, descripcion }) => (
          <div class="bg-white p-6 rounded-lg shadow-md">
            <h3 class="text-xl font-semibold mb-2">{titulo}</h3>
            <p class="text-gray-700">{descripcion}</p>
          </div>
        ))}
      </div>
    </section>

    <section>
      <h2 class="text-3xl font-semibold mb-6">Nuestro Equipo</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        {teamMembers.map((member) => (
          <div class="bg-white p-6 rounded-lg shadow-md text-center">
            <Image
              src={member.image}
              alt={`Foto de ${member.name}`}
              width={200}
              height={200}
              class="rounded-full mx-auto mb-4"
            />
            <h3 class="text-xl font-semibold mb-1">{member.name}</h3>
            <p class="text-gray-600">{member.role}</p>
          </div>
        ))}
      </div>
    </section>
  </main>
</div>
